@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

p {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

/* Centre the main header */
.top-header, .album__details {
  text-align: center;
}

.album_item a:link {
  text-decoration: none;
  color: yellow;
}

.album_item a:visited {
  text-decoration: none;
  color: yellow;
}

.album_item a:hover {
  text-decoration: none;
}


/* Photo Gallery styling */
img {
  max-width: 100%;
}

.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  max-width: 1656px; /* keep to max 6 columns */
  margin: 0 auto; /* center in viewport */
}

.album_item {
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 0px;
  display: grid;
  grid-template-rows: 120px 1fr;
  align-items: center;
  background: #111;
  font-weight: 100;
}

.album__artwork {
  width: 100%;
}
