/* 
Antagony added css file to override standard settings in exolve-m.css 
and add any other styling as required
*/

/* Make the annotation less like the clue text */
.xlv-anno-text {
  color: seagreen !important;
  /* font-style: normal;
  font-size: small;
  font-family: sans-serif; */
}
.xlv-solution {
  color: crimson;
}
.xlv-definition {
  text-decoration-color: crimson;
}
.xlv-question {
  margin: 5px 0 5px 0;
}

/* minimal bolding  for pre-filled grid letters */
.xlv-prefill {
  font-weight: 600;
}

/* Navigation bar buttons (not part of Exolve) */

/* Fix to foot of viewport */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  padding: 1rem;
}

/* Style the buttons */
.nav-button {
  background-color: #eeffee;
  border: 1px solid #d6ffd6;
  outline: none;
  color: darkgreen;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  font-family: monospace;
  font-weight: bold;
  font-size: 14px;
}
.nav-button:hover {
  background-color: #d6ffd6;
  cursor: pointer;
}
.nav-button:disabled {
  color: gray;
  pointer-events: none;
}
